@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap'); */


/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
} */
@font-face {
  font-family: 'MartianMono';
  src: url('./assets/fonts/Martian_Mono/static/MartianMono-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'MartianMono2';
  src: url('./assets/fonts/Martian_Mono/static/MartianMono-SemiBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'MartianMono3';
  src: url('./assets/fonts/Martian_Mono/static/MartianMono-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url('./assets/fonts/Fira_Code/static/FiraCode-SemiBold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-style: normal;
}
body {
  /* border: 2px solid red; */
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* padding-inline: 30px; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
